/* default styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {height: 100%}
body {
    background: #1a1a1a;
    color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: #f1f1f1;
    text-decoration: none;
}
main, footer {padding: 16px}

/* Navigation styling */
.navbar {overflow: hidden; padding-top: 14px}
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px 0px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {text-decoration: underline}
.navbar .icon {display: none}
.navbar .active {
    float: left;
    padding: 14px 0px 0px 16px;
}