/* default styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {height: 100%}
body {
    background: #1a1a1a;
    color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: #f1f1f1;
    text-decoration: none;
}
main, footer {padding: 16px}
body {overflow: hidden}
main {
    padding: 25px;
    display: flex;
    align-items: center;
    min-height: 85%;
}

/* Navigation styling */
.navbar {overflow: hidden; padding-top: 14px}
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px 0px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {text-decoration: underline}
.navbar .icon {display: none}
.navbar .active {
    float: left;
    padding: 14px 0px 0px 16px;
}


/* Footer styling */
footer {
    text-align: center;
    color: #999;
    font-size: 14px;
}
footer p {padding: 5px}

/* Wave animation */
.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
} 
@keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

/* Fade in animation */
@keyframes fade-in {
    from {transform: translate3d(0,40px,0)}
    to {transform: translate3d(0,0,0); opacity: 1}
}
@-webkit-keyframes fade-in {
    from {transform: translate3d(0,40px,0)}
    to {transform: translate3d(0,0,0); opacity: 1}
}
.animated {animation-fill-mode: both}
.animateNav {animation-duration: 1.5s}
.animateIntro {animation-duration: 1s}
.animateFooter {animation-duration: 0.5s}
.animatedFadeInUp {opacity: 0}
.fadeInUp {
    opacity: 0;
    animation-name: fade-in;
}