/* Intro styling */
body {overflow: hidden}
main {
    padding: 25px;
    display: flex;
    align-items: center;
    min-height: 85%;
}
.intro {width: 60%}
.intro h1 {font-size: 72px}
.intro h3 {
    color: #999;
    font-size: 16px;
    font-weight: 500;
}
.intro a {
    color: #0096FF;
    font-weight: bold;
}
.intro a:hover {text-decoration: underline}

/* Wave animation */
.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
} 
@keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

/* Fade in animation */
@keyframes fade-in {
    from {transform: translate3d(0,40px,0)}
    to {transform: translate3d(0,0,0); opacity: 1}
}
@-webkit-keyframes fade-in {
    from {transform: translate3d(0,40px,0)}
    to {transform: translate3d(0,0,0); opacity: 1}
}
.animated {animation-fill-mode: both}
.animateNav {animation-duration: 1.5s}
.animateIntro {animation-duration: 1s}
.animateFooter {animation-duration: 0.5s}
.animatedFadeInUp {opacity: 0}
.fadeInUp {
    opacity: 0;
    animation-name: fade-in;
}
/* Footer styling */
footer {
    text-align: center;
    color: #999;
    font-size: 14px;
}
footer p {padding: 5px}